<html>
    <head>
        <title> Teach Genocide </title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css">
        <link href='http://fonts.googleapis.com/css?family=Raleway:500' rel='stylesheet' type='text/css'>
    </head>
    <body onload="on_load()">
        <div id="menubar">
            <img src="/images/GEPLogo-bw.gif" id="logo">
            <%= yield %>
        </div>
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script src="/javascripts/app.js"></script>
    </body>
</html>
